{% extends 'base.html' %}
    {% block body_block %}
        <h1 class = "page-header">Add Recipe</h1>
            <form role="form" id="recipe_form" method="post" action="/cilantro/add_recipe/">
            {% csrf_token %}
            <div class="row col-md-6">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/><br/>
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Add Recipe</button>
                </div>
                <div class="row col-md-6 ingredient-form">
                    <table class="table">
                    <thead>
                    <tr>
                    <th>Ingredients:</th>
                    <th>Amounts:</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <tr>
                        {% for field in form.visible_fields %}
                        <td>{{ field.errors }}
                            {{ field }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}

                    </tbody>
                    </table>

                </div>

        </form>
    {% endblock %}