{% extends 'base.html' %}
    {% block body_block %}
        <div class="cilantro-header"><h1>Add recipe to {{category.name}}</h1></div>
            <form role="form" id="recipe_form" method="post" action="/cilantro/{{category.slug}}/add_recipe/">
            {% csrf_token %}
            <div class="recipe-left">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/><br/>
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Add Recipe</button>
                </div>
                <div class="recipe-right">
                    Ingredient/Amount<br/>
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field }}
                        {% endfor %}<br/><br/>
                    {% endfor %}
                </div>

        </form>
    {% endblock %}