<ul class="nav nav-sidebar">
{% if cats %}
    {% for c in cats %}
           {% if c == act_cat %}
               <li class="active">
           {% else %}
               <li>
           {% endif %}
               <a class="category-item" href="#">{{ c.name }}</a>
                       {# figure out how to make this check if we are currently on add_recipe or not #}
                       {% if c == act_cat %}
                           <ul>
                       {% else %}
                           <ul class="recipe-ul">
                       {% endif %}
                       {% for r in recipes %}
                           {% if r.category == c %}
                               <li class="recipe-item"><a href="{% url 'recipe' c.slug r.slug %}">{{ r.name }}</a></li>
                           {% endif %}
                       {% endfor %}
                               <li class="recipe-item"><a href="{% url 'add_recipe' c.slug %}">Add Recipe</a></li>
                           </ul></li>
       {% endfor %}
{% else %}
       <li><strong>There are no categories present.</strong></li>
{% endif %}
    </ul>