<ul class="nav nav-sidebar">
{% if cats %}
    {% for c in cats %}
        {% if c.name != "Shopping Lists" %}
           <li>
               <a class="category-item" href="#">{{ c.name }}</a>
                       {% if c == act_cat %}
                           <ul>
                       {% else %}
                           <ul class="recipe-ul">
                       {% endif %}
                       {% for r in recipes %}
                           {% if r.category == c %}
                               <li class="recipe-item"><a href="{% url 'recipe' user.username c.slug r.slug %}">{{ r.name }}</a></li>
                           {% endif %}
                       {% endfor %}
                               <li class="recipe-item"><a href="{% url 'add_recipe' c.slug %}">Add Recipe</a></li>
                           </ul></li>
        {% endif %}
       {% endfor %}
{% else %}
       <li><strong>There are no categories present.</strong></li>
{% endif %}
    </ul>