{% extends 'base.html' %}
{% load static %}
{% block body_block %}
        <div class="page-header"><h1>{{ recipe_name }}</h1></div>
        <div class="col-md-6">{{ recipe.servings }} Servings<br /><br />
        <table style="max-width:100%" class="table table-responsive">
        <thead><tr><th>Ingredients</th></tr></thead>
        <tbody>
        {% for ing in ingredients %}
            <tr>
                <td width="30%">{{ ing.amount }}</td>
                <td width="70%">{{ ing.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <p>{{ recipe.instructions }}</p>
        </div>

{% endblock %}