{% extends 'base.html' %}
{% load static %}
{% block body_block %}
        <h1 class="cilantro-header">{{ recipe.name }}</h1>
        <div class="col-md-6">{% csrf_token %}<input style="border:1px solid #ccc;border-radius:4px" value="{{recipe.servings}}" size="3" maxlength="3"/> Servings<br /><br />
        <table class="table table-responsive">
        <thead><tr><th>Ingredients</th></tr></thead>
        <tbody>
        {% for ing in ingredients %}
            <tr>
                <td width="30%">{{ ing.amount }}</td>
                <td width="70%">{{ ing.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <p>{{ recipe.instructions }}</p>
        </div>

{% endblock %}